h1 {
		font-family:Georgia, "Times New Roman", Times, serif;
		color:#669933;
		font-weight:bold;
}
h2 {
		font-faniliy:Times New Roman, Times, serif;
		color:#996633;
		font-weight:bold;
}
.hornet {
		font-family:Georgia, "Times New Roman", Times, serif;
		color:#66FF66;
}		
.Grogar {
		font-family:Verdana, Arial, Helvetica, sans-serif;
		color:#9900FF;
}